module.exports = {
    port: 11004,
    useCluster: true,

    crawlTimeout: 5000,
    cacheFolder: '/home/sergey/crawled-pages/',
    mongodb: {
        connection: 'mongodb://localhost:27017/renderserver',
        database: 'renderserver',
    },

    // todo: later move to the database
    targets: [
        'https://foreignsky.ru',
    ],
};
